<h1 class="text-center"><strong>Formulaire de mise en adoption d'un animal</strong></h1>
<div class="container">
  <%= simple_form_for [@animal, @demand ] do |f| %>
    <%= f.input :description %>
    <%= f.submit "Envoi de la requête", class: "btn btn-primary" %>
<% end %>
</div>
