<h1 class="text-center mt-5"><strong>Formulaire de mise en adoption d'un animal</strong></h1>
<div class="container container-new py-3">
  <%= simple_form_for [@animal, @demand ] do |f| %>
    <%= f.input :description %>
    <%= f.submit "Envoi de la requête", class: "btn-new" %>
<% end %>
</div>
