$orange: #FF7D00;
$beige: #FFFBFF;
$brown: #92817A;
$darkbrown: #322417;
$darkbeige: #F1DABF;


.container-new {
  border-radius: 25px;
  padding: 30px;
  background-color: $darkbeige;
}

.container-show {
  background-color: $beige;
  border-radius: 5px;
  h2 {
    color: $orange;
    font-size: 48px;
    font-weight: bold;
  }
  h3 {
    font-size: 28px;
  }
}
